<style>
  .glare {
    animation: glare 1s infinite linear;
  }
  @keyframes glare {
    from {
      transform: translateX(-100%) rotateZ(-45deg);
    }
    to {
      transform: translateX(100%) rotateZ(-45deg);
    }
  }
</style>
<span
  class="relative isolate mb-4 inline-block overflow-hidden rounded-full border-2 border-purple-400 px-2 py-1 text-sm"
  >Juan Villegas - Artista 3D Freelance
  <div
    class="glare absolute top-1/2 -z-10 h-5 w-full -translate-y-1/2 -rotate-45 bg-purple-400 blur-2xl"
  >
  </div>
</span>
