<style>
  .glare {
    animation: glare 1s infinite linear;
  }
  @keyframes glare {
    from {
      transform: translateX(-100%) rotateZ(-45deg);
    }
    to {
      transform: translateX(100%) rotateZ(-45deg);
    }
  }
</style>
<span
  class="relative isolate mx-auto mb-4 block max-w-max overflow-hidden rounded-full border-2 border-purple-400 px-2 py-1 text-sm lg:mx-0"
  >Juan Villegas - Freelance 3D Artist
  <div
    class="glare absolute top-1/2 -z-10 h-5 w-full -translate-y-1/2 -rotate-45 bg-purple-400 blur-2xl"
  >
  </div>
</span>
