---
import "@fontsource-variable/roboto-slab";
import "@fontsource/poppins";

import Hero from "../layout/Hero.astro";
import PageHeader from "../layout/PageHeader.astro";
import Wrapper from "../components/utils/Wrapper.astro";
import Services from "../layout/Services.astro";
import Features from "../layout/Features.astro";
import Reviews from "../layout/Reviews.astro";
import Portafolio from "../layout/Portafolio.astro";
import About from "../layout/About.astro";
import Contact from "../layout/Contact.astro";
import PageFooter from "../layout/PageFooter.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/svg/3d.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Descubre mis servicios freelance profesionales de renderizado y modelado 3D personalizado. Transformamos tus ideas en realidades visuales impresionantes. ¡Potencia tu proyecto con Villegas3D ahora!">
    <title>Servicios de render y modelado 3D personalizado - Villegas 3D</title>
    <style is:global>
      body {
        font-family: "Poppins", sans-serif;
        color: #262626;
      }
      img {
        font-size: 0.6rem;
      }
    </style>
  </head>
  <body>
    <Wrapper>
      <PageHeader />
      <Hero />
      <Features />
      <Services />
      <Reviews />
      <About />
      <Portafolio />
      <Contact />
    </Wrapper>
    <PageFooter>
  </body>
</html>
