---
import AboutIllustration from "../components/static/AboutIllustration.astro";
---

<section id="sobre" class="mb-36 grid gap-6 py-12 lg:grid-cols-2">
  <div class="hidden lg:block">
    <AboutIllustration />
  </div>
  <div>
    <h2
      class="mb-24 text-center font-roboto text-4xl font-semibold text-amber-400 lg:mb-6 lg:text-start"
    >
      I'll tell you a little about myself
    </h2>
    <div class="mb-8 lg:hidden">
      <AboutIllustration />
    </div>
    <div
      class="mx-auto flex max-w-[700px] flex-col gap-4 lg:mx-0 lg:max-w-none"
    >
      <p>
        My name is Juan David and I am 19 years old. I am from Lima, Peru. Like many people, I was looking for a way to pass the time while we were locked up by the pandemic
      </p>

      <p>
        It was then when I decided to learn 3D modeling, first with tutorials on YouTube and later with guided courses. What at the beginning I took as a simple hobby, today has become my main source of income. I got my first client at the end of 2022 and today there are already dozens
      </p>

      <p>
        What attracts me most about my work is my cartoonish and animated style. In addition to my excellence in the treatment and compression, I give life to the vision of people, improving their brand image. I have collaborated on projects such as video games or visualization and simulations
      </p>

      <p>
        If you are looking for someone to bring your ideas to life, generate content for your brand or improve your online presence, I'm the one. I'm probably the person you're looking for if you want quality and professionalism
      </p>
    </div>
  </div>
</section>
