---
import AboutIllustration from "../components/static/AboutIllustration.astro";
---

<section class="mb-36 grid gap-6 py-12 lg:grid-cols-2">
  <div class="hidden lg:block">
    <AboutIllustration />
  </div>
  <div>
    <h2
      class="mb-24 text-center font-roboto text-4xl font-semibold text-amber-400 lg:mb-6 lg:text-start"
    >
      Te Cuento un poco sobre mi
    </h2>
    <div class="mb-8 lg:hidden">
      <AboutIllustration />
    </div>
    <div
      class="mx-auto flex max-w-[700px] flex-col gap-4 lg:mx-0 lg:max-w-none"
    >
      <p>
        Me llamo Juan David y tengo 19 años. Soy de Lima, Perú. Al igual que
        muchas personas, busqué una manera de pasar el tiempo mientras estábamos
        encerrados por la pandemia.
      </p>

      <p>
        Fue en ese entonces cuando decidí aprender a modelar en 3D, primero con
        tutoriales en YouTube y posteriormente con cursos guiados. Lo que al
        inicio tomé como un simple hobby, hoy en día se ha convertido en mi
        principal fuente de ingresos. Obtuvé mi primer cliente a finales del
        2022 y hoy ya suman decenas.
      </p>

      <p>
        Lo que más atrae de mi trabajo es mi estilo caricaturesco y animado.
        Además de mi excelencia en el trato y compresión, doy vida a la visión
        de las personas, mejorando su imagen de marca. He colaborado en
        proyectos como videojuegos o visualización y simulaciones.
      </p>

      <p>
        Si buscas alguien que dé vida a tus ideas, genere contenido para tu
        marca o mejore tu presencia en línea, soy el indicado. Probablemente soy
        la persona que buscas si quieres calidad y profesionalismo.
      </p>
    </div>
  </div>
</section>
