---
import FeatCard from "../components/utils/FeatCard.astro";
import Icon from "../components/utils/Icon.astro";
---

<section class="mb-36">
  <ul class="flex flex-wrap justify-center gap-16 lg:justify-between">
    <FeatCard
      title="Visually Stunning Results"
      description="I transform your ideas into 3D images that captivate and stand out, generating an impeccable impact."
    >
      <Icon src="/svg/hd.svg" alt="quality icon" width={50} />
    </FeatCard>
    <FeatCard
      title="Lasting Investment of your Brand"
      description="An investment in 3D design that elevates your brand and endures in the minds of your customers over time."
    >
      <Icon src="/svg/sold.svg" alt="sold icon" width={50} />
    </FeatCard>

    <FeatCard
      title="Constant Commitment"
      description="Always committed to you, no matter the project or its complexity."
    >
      <Icon src="/svg/handshake.svg" alt="handshake icon" width={50} />
    </FeatCard>
  </ul>
</section>
