---
import Icon from "../components/utils/Icon.astro";
import SlpitText from "../components/utils/SlpitText.astro";
---

<header class="flex items-center justify-between py-4">
  <div>
    <span class="font-roboto text-2xl font-semibold text-cyan-400"
      >VILLEGAS<span class="text-amber-500">3D</span></span
    >
  </div>
  <nav class="hidden lg:block">
    <ul class="flex items-center gap-12 text-lg">
      <li>
        <a href="#servicios"><SlpitText>Services </SlpitText></a>
      </li>
      <li>
        <a href="#sobre"><SlpitText>About Me</SlpitText></a>
      </li>
      <li>
        <a href="#portafolio"><SlpitText>Portfolio</SlpitText></a>
      </li>
      <li>
        <a href="#contacto"><SlpitText>Contact</SlpitText></a>
      </li>
    </ul>
  </nav>
  <div>
    <ul class="flex items-center gap-6 text-lg">
      <li>
        <Icon

          href="https://www.instagram.com/villegas.arts/"
          src="/svg/instagram.svg"
          alt="enlace al instagram de Juan Villegas"
          width={42}
        />
      </li>
      <li>
        <Icon
          href="https://stock.adobe.com/pe/contributor/211133747/villegasarts?load_type=author&prev_url=detail"
          src="/svg/adobe.svg"
          alt="enlace al adobe stock de Juan Villegas"
          width={42}
        />
      </li>
      <li>
        <Icon
          href="https://wa.me/51928959043/?text=Hi Juan! I have taken a look at your portfolio and your services have caught my attention. I am interested in learning more about it."
          src="/svg/whatsapp.svg"
          alt="enlace al whatsapp de Juan Villegas"
          width={36}
        />
      </li>
    </ul>
  </div>
</header>
