---
import Icon from "../components/utils/Icon.astro";
---

<section id="portafolio" class="mb-36 grid gap-4 lg:grid-cols-2">
  <div>
    <header
      class="mb-6 flex flex-col items-center font-roboto font-semibold lg:items-start"
    >
      <h2 class="mb-2 text-4xl text-purple-400">Recent Projects</h2>
      <h3 class="text-xl text-cyan-400">Explore my Creative World</h3>
    </header>
    <p class="mb-4 text-center lg:text-start">
      My projects range from the development of 3D characters to the creation of icons and animations, always imbued with my distinctive cartoon style. Each piece is the result of a meticulous creative and technical process, where attention to detail and a constant search for originality are evident. My characters come to life with unique and captivating expressions, my icons communicate concepts in a clear and distinctive way, while my animations take the audience into a vibrant and energetic world.
    </p>
    <p class="mb-8 text-center lg:text-start">
      I invite you to explore my public profiles, where I showcase a wide range of work that represents my passion for creation.
    </p>
    <ul
      class="flex items-center justify-center gap-2 lg:justify-start [&>*]:inline-block"
    >
      <li>
        <Icon
          href="https://www.instagram.com/villegas.arts/"
          src="/svg/instagram.svg"
          alt="enlace al instagram de Juan Villegas"
          width={52}
        />
      </li>
      <li>
        <Icon
          href="https://stock.adobe.com/pe/contributor/211133747/villegasarts?load_type=author&prev_url=detail"
          src="/svg/adobe.svg"
          alt="enlace al adobe stock de Juan Villegas"
          width={52}
        />
      </li>
      <li>
        <Icon
          href="https://www.upwork.com/freelancers/~016aa13d2d22429ef5?s=1110580766784868352"
          src="/svg/upwork_square.svg"
          alt="enlace al upwork de Juan Villegas"
          width={44}
        />
      </li>
    </ul>
  </div>
  <ul
    class="grid grid-cols-3 gap-4 rounded-3xl [&>*]:overflow-hidden [&>*]:rounded-xl"
  >
    <li class="row-span-2">
      <img class="h-full w-full object-cover" src="images/slime.webp" alt="" />
    </li>
    <li class="col-span-2">
      <img class="h-full w-full object-cover" src="images/egg.webp" alt="" />
    </li>
    <li>
      <video src="videos/bob.mp4" autoplay loop muted></video>
    </li>
    <li>
      <video src="videos/shovel.mp4" autoplay loop muted></video>
    </li>
  </ul>
</section>
