---
import Icon from "../components/utils/Icon.astro";
import PlanCard from "../components/utils/PlanCard.astro";
---

<section class="relative isolate mb-36">
  <header class="mb-36 text-center">
    <h2 class="mb-6 font-roboto text-4xl font-semibold">Packages and Prices</h2>
    <p class="mx-auto max-w-[70%] opacity-80">
      Select from my common services or request a customized service designed especially for you in the <a class="text-green-500 hover:underline" href="#contacto">contact</a> section
    </p>
  </header>
  <div class="flex flex-wrap justify-center gap-16">
    <PlanCard
      message="Hi Juan! I have taken a look at your portfolio and your services have caught my attention. I am interested in purchasing the 20 3D icons plan with a price of $20."
      color="#e18dff"
      title="3D icons"
      price={20}
      subtitle="Special discount for web customers!"
      description="Paquete de 20 iconos en 3D, los cuales incluyen renders en alta calidad y los archivos fuente correspondientes"
    >
      <Icon alt="icono" src="svg/icons.svg" width={30} />
    </PlanCard>
    <PlanCard
      message="Hi Juan! I have taken a look at your portfolio and your services have caught my attention. I am interested in purchasing the 3D Character Design and Modeling plan with a price of 25$."
      color="orange"
      title="3D Character"
      price={25}
      subtitle="Special discount for web customers!"
      description="Design and Modeling of a 3D character, with the delivery of high quality renders and the attached source file."
    >
      <Icon alt="icono" src="svg/pacman.svg" width={30} />
    </PlanCard>
    <PlanCard
      message="Hi Juan! I have taken a look at your portfolio and your services have caught my attention. I am interested in purchasing the 3D Animation plan with a price of $35."
      color="cyan"
      title="3D Animation"
      price={35}
      subtitle="Special discount for web customers!"
      description="Creation of animations for scenes, characters and various purposes such as streaming and marketing."
    >
      <Icon alt="icono" src="svg/animation.svg" width={30} />
    </PlanCard>
  </div>
</section>
