---
import ReviewCard from "../components/utils/ReviewCard.astro";
---

<section class="mb-36">
  <h2
    class="mb-4 text-center font-roboto text-4xl font-semibold text-amber-400"
  >
    My Satisfied Clients
  </h2>
  <p class="mx-auto mb-24 md:max-w-[80%] text-center">
    My approach is to provide personalized, attentive and honest service to meet the individual needs of each client, ensuring a positive experience in every interaction.
  </p>
  <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-12">
    <ReviewCard
      username="Shafeeq Khan"
      description="Juan is incredibly competent and knowledgeable in his field. In addition to having excellent professional skills, he is a committed gentleman, a very cooperative person and always willing to lend a hand, offer advice and make excellent recommendations to raise the level of the final product."
    />
    <ReviewCard
      username="Logal Law"
      description="Juan delivered an excellent sniper rifle model, fully textured with intricate detail. He has great attention to detail and I would love to work with him again."
      src="images/logan.webp"
    />
    <ReviewCard
      username="Daniel Lannon"
      description="His ability to capture and materialize my ideas into realistic 3D models was amazing. The attention to detail and quality of his work is impeccable. In addition, he met my deadlines, which was critical to my project."
    />
  </ul>
</section>
