---
import Icon from "../components/utils/Icon.astro";
import ServiceCard from "../components/utils/ServiceCard.astro";
---

<section class="mb-24 grid grid-cols-2 gap-12">
  <div class="flex h-full items-center justify-center">
    <img
      class="w-[85%]"
      src="images/rocket.webp"
      alt="ilustracion en 3D de una nave espacial"
    />
  </div>
  <div class="flex flex-col justify-center">
    <header>
      <h2 class="mb-12 font-roboto text-4xl font-semibold text-cyan-400">
        Mis Servicios
      </h2>
    </header>
    <div class="grid grid-cols-2 gap-4">
      <ServiceCard
        title="Modelado 3D"
        description="Creación de modelos tridimensionales de objetos, personajes, arquitecturas, etc., utilizando software especializado como Blender"
      >
        <Icon src="svg/3d.svg" alt="icono de letras en 3D" width={35} />
      </ServiceCard>
      <ServiceCard
        title="Animación"
        description="Dar vida a modelos 3D mediante movimiento y acciones. Desde animaciones simples hasta secuencias complejas para películas, videojuegos o publicidad."
      >
        <Icon src="svg/film.svg" alt="icono de una cinta de video" width={35} />
      </ServiceCard>
      <ServiceCard
        title="Renderizado"
        description="Transformación de modelos 3D en imágenes realistas utilizando técnicas de iluminación, texturización y sombreado para obtener resultados visuales de alta calidad."
      >
        <Icon src="svg/picture.svg" alt="icono de una imagen" width={35} />
      </ServiceCard>
      <ServiceCard
        title="Simulaciones y Dinámicas"
        description="Creación de efectos físicos realistas, como fluidos, cabello, tela o partículas, para añadir realismo a las animaciones o representaciones."
      >
        <Icon src="svg/cloth.svg" alt="icono de una camiseta" width={35} />
      </ServiceCard>
    </div>
  </div>
</section>
