---
import Icon from "../components/utils/Icon.astro";
import ServiceCard from "../components/utils/ServiceCard.astro";
---

<section id="servicios" class="mb-36 grid gap-12 lg:grid-cols-2">
  <div class="flex h-full items-center justify-center">
    <img
      class="w-[85%] max-w-[450px] lg:max-w-none"
      src="images/rocket.webp"
      alt="ilustracion en 3D de una nave espacial"
    />
  </div>
  <div
    class="mx-auto flex max-w-[800px] flex-col justify-center lg:mx-0 lg:max-w-none"
  >
    <header>
      <h2 class="mb-12 font-roboto text-4xl font-semibold text-cyan-400">
        My Services
      </h2>
    </header>
    <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-2">
      <ServiceCard
        title="3D Modeling"
        description="Creation of three-dimensional models of objects, characters, architectures, etc, using specialized software such as Blender."
      >
        <Icon src="svg/3d.svg" alt="icono de letras en 3D" width={35} />
      </ServiceCard>
      <ServiceCard
        title="3D Animation"
        description="Bring 3D models to life through movement and actions. From simple animations to complex sequences for movies, video games or advertising."
      >
        <Icon src="svg/film.svg" alt="icono de una cinta de video" width={35} />
      </ServiceCard>
      <ServiceCard
        title="3D Rendering"
        description="Transforming 3D models into realistic images using lighting, texturing and shading techniques for high quality visual results."
      >
        <Icon src="svg/picture.svg" alt="icono de una imagen" width={35} />
      </ServiceCard>
      <ServiceCard
        title="3D Simulations and Dynamics"
        description="Creation of realistic physical effects, such as fluid, hair, cloth or particles, to add realism to animations or renderings."
      >
        <Icon src="svg/cloth.svg" alt="icono de una camiseta" width={35} />
      </ServiceCard>
    </ul>
  </div>
</section>
